@import "./fonts.css";

:root {
  --color-background: #070b14;
  --color-campfire: #e97531;
  --color-campfire-dark: #7a351d;
  --color-campfire-ash: #f7d8c0;
  --color-campfire-ash-dark: #ebb58d;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-white: #d3d3d3;
  --color-muted-white: #a8a8b3;
  --color-soft-gray: #7d7d87;
  --color-dim-blue-gray: #6c6f7a;
  --color-faded-blue: #5a6a85;
  --color-light-warm: #f7d8c0;
  --color-light-emissive: #e97531;

  --font-pix-antiqua: "PixAntiqua", monospace;
  --font-pixel-emulator: "Pixel Emulator", monospace;
  --font-press-start-2p: "Press Start 2P", monospace;
}

html {
  font-family: var(--font-pix-antiqua);
  color: var(--color-campfire);
  background: var(--color-background);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}
